html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{name}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css')
  body
    include ../partials/nav.pug
    include ../partials/modal.pug
    // Main container


    nav.level
      
    .content.has-text-centered
      h1.is-large #{name}
      if(loggedIn)
        if following
          button#unsubActor.button Unfollow person
        if !following
          button#subscribeToActor.button Subscribe to this person

      h2  Movies Part Of:
      columns.is-3.is-centered
        each val in moviesToShow
          .column.is-one-third
            .card
              a(href='/movies/' + val.Title)
                .card-image
                  figure.image.is-4by3
                    img(src= val.Poster)
              header.card-header
                p.card-header-title
                  | #{val.Title}
                a.card-header-icon(href='#' aria-label='more options')
                  span.icon
                    i.fas.fa-angle-down(aria-hidden='true')
              .card-content
                .content
                  | #{val.Plot} 
                  br
                  br
                  br
                  |               Rating: #{val.imdbRating}
                  br
                  |               Run Time: #{val.Runtime}
                  br
                  |               Release Year: #{val.Released}
                  br
      h2  Frequent Collaborators:
      p
        ul
        for coworker in coworkers
            li
                a(href="/people/" + coworker) #{coworker}
    script(src="/js/navigation.js")
    script(src="/js/singleActor.js")
    script(src="/js/unsubActor.js")