doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{name}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css')
  body
    include ../partials/nav.pug
    include ../partials/modal.pug
    // Main container
    nav.level
        button#subscribeToActor.button Subscribe to this person
    .content.has-text-centered
      h1.is-large #{name}
     
      h2  Movies Part Of:
      columns.is-3.is-centered
      each val in [0]
        .column.is-one-third
          .card
            a(href='/movies/' + moviesToShow[val].Title)
              .card-image
                figure.image.is-4by3
                  img(src= moviesToShow[val].Poster)
            header.card-header
              p.card-header-title
                | #{moviesToShow[val].Title}
              a.card-header-icon(href='#' aria-label='more options')
                span.icon
                  i.fas.fa-angle-down(aria-hidden='true')
            .card-content
              .content
                | #{moviesToShow[val].Plot} 
                br
                br
                br
                |               Rating: #{moviesToShow[val].imdbRating}
                br
                |               Run Time: #{moviesToShow[val].Runtime}
                br
                |               Release Year: #{moviesToShow[val].Released}
                br
      h2  Frequent Collaborators:
      p
        ul
        for coworker in coworkers
            li
                a(href="/actors/" + coworker) #{coworker}
    script(src="/js/navigation.js")
    script(src="/js/reviewRate.js")
    script(src="/js/singleActor.js")