doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{singleMovie.Title}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css')
  body
   
    include ../partials/nav.pug
    include ../partials/modal.pug
    include ../partials/reviewRate.pug

    nav.level
      // Left side
      .level-item.hast
        .level-item.has-text-centered
          figure.image.is-256x256
            img.is-rounded(src= singleMovie.Poster)
    .content.has-text-centered
      br
      br
      br
      br
      h1.is-large #{singleMovie.Title}
      p
        | #{singleMovie.Plot}
      br
      h2.is-medium Information
      p Runtime: #{singleMovie.Runtime} min
      p Release: #{singleMovie.Released}
      p
        | Genres: 
        for genre in genres
            a(href='http://localhost:3000/searchMovie?name=&genre=' + genre + '&yearMax=300000&yearMin=1&runTime=3050') #{genre}
            | ,
       
      p Look4MoviesUser Ratings: #{uRating}
      if(loggedIn)
        #rateMovie.button.is-primary.is-light Rate this movie


      if(contributing)
        #editMovie.button.is-primary.is-warning Edit this movie

      h2 Actors
      p
        ul
        for actor in actors
            li
                a(href="/people/" + actor) #{actor}
      h2  Writers 
      p
        ul
        for writer in writers
            li
                a(href="/people/" + writer) #{writer}
     
      h2  Director 
      p
        ul
            li
                a(href="/people/" + director) #{director}
     

      h2  Reviews 
      if(loggedIn)
       #reviewMovie.button.is-primary.is-light Review this movie

      for review in uReviews
        a(href='/users/' + review.id.name)
          .box
            article.media
              .media-left
                figure.image.is-64x64
                  img(src='https://bulma.io/images/placeholders/128x128.png' alt='Image')
              .media-content
                .content
                  p
                    strong #{review.id.name}
                    br
                    strong #{review.id.rating} / 10

                    br
                    
                    |                Summary: #{review.id.plotSummary}
                    br
                    
                    |                Review: #{review.id.review}
      
      h2  Similar Movies 
      .columns.is-3.is-centered
        each item in moviesToShow
          .column.is-one-third
            .card
              a(href='/movies/' + item.Title)
                .card-image
                  figure.image.is-4by3
                    img(src= item.Poster)
              header.card-header
                p.card-header-title
                  | #{item.Title}
                a.card-header-icon(href='#' aria-label='more options')
                  span.icon
                    i.fas.fa-angle-down(aria-hidden='true')
              .card-content
                .content
                  | #{item.Plot} 
                  br
                  br
                  br
                  |               Rating: #{item.uRating}
                  br
                  |               Run Time: #{item.Runtime} min
                  br
                  |               Release Year: #{item.Released}
                  br
        
      script(src="/js/navigation.js")
      script(src="/js/reviewRate.js")
      if(contributing)
        script(src="/js/editMovie.js")